<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2 class="text-muted my-3">Login User</h2>
    <form action="/auth/login" method="POST">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" {{#if userInput.email}} value="{{userInput.email}}" {{/if}}>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" {{#if userInput.password}} value="{{userInput.password}}" {{/if}}>
          </div>
        </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Login">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>