{{#if errMsg}}
<div class="alert alert-danger my-3">
  {{errMsg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger my-3">
  {{error_msg}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger my-3">
  {{error}}
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success my-3">
  {{success_msg}}
</div>
{{/if}}