<div class="row">
  <div class="col-lg-12">
    {{#each ideas}}
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">{{title}}</h2>
          <p class="card-text">{{truncateContent description 100}}</p>
          <a href="/ideas/{{id}}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>